{% extends 'base.html' %}
{% load highlight_tags %}
{% block content %}
<!-- to do make it so it doesnt count the title and post as seprate for counting amount of times mentioned -->
<div class="list">

    <div>
        <a href="{% url 'create' %}" class="btn btn-primary">Create Post</a>
    </div>
    <br>
    <div>
        
        <form method="get" action="{% url 'list' %}">
            <label for="word">Sort by Category:</label>
            <select name="word" id="word" class="btn btn-light">
                <option value="">--Select a Category--</option>
                {% for word, count in specific_words.items %}
                    <option value="{{ word }}" {% if request.GET.word == word %}selected{% endif %}>{{ word }} ({{ count }})</option>
                {% endfor %}
            </select>
            
            <button type="submit"class="btn btn-primary">Sort</button>
        </form>
    </div>
    <br>

    <div class="postBox">
        {% for record in posts %}
        <div class="record">
            <h2><a  class="purpleLink" href="{% url 'detail' record.id %}">{{ record.title }}</a></h2>
            {% if request.GET.word %}
            <p class="black">{{ record.content|highlight:request.GET.word }}</p>
            {% else %}
            <p class="black">{{ record.content }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>

















<br><br><br><br><br><br><br><br>
{% endblock content %}
